* {
  margin: 0;
  padding: 0;
  font-family: "mulish", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: white;
}

.layout {
  max-width: 76.7rem;
}

/*----- Mobile-First -----*/

/*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #065e7c;
  padding: 1.2rem 2.8rem;
  gap: 2.5rem;
}

header form {
  flex: 1;
}

header form label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.20);
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: .4rem;
  outline: none;
  color: white;
}

header form input::placeholder {
  color: rgb(148, 148, 148);
}

header #avatar {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
}

/*Main*/

main .img-hero img {
  width: 100vw;
}

main .cat-information {
  padding: 3.1rem 0 68.8rem 2.2rem;
}

main .cat-title .icons {
  margin: .8rem 0 3.1rem 0;
}

main .icons img:nth-child(1) {
  margin-right: 1.2rem;
}

main .cat-title h1 {
  font-size: 2.4rem;
  line-height: 160%;
  font-weight: 700;
  color: #202024;
}

main section p {
  line-height: 160%;
  font-weight: 400;
  color: #121214;
  text-align: left;
}
/*Aside*/

aside {
  display: none;
}

/*Footer*/

footer {
  background-color: #387E96;
  padding: 1.6rem;
}

footer p {
  color: white;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/*----- Tablet-Version -----*/

@media (min-width:768px) {
  
  .layout {
    max-width:143.9rem;
  }

  main .cat-information {
    padding: 3.9rem 0 12rem 3.9rem;
  }

  main .cat-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
  }

  main .cat-title .icons {
    margin: 0;
  }

  main .cat-title h1 {
    font-size: 3.2rem;
  }

  main .img-hero img {
    min-height: 40.5rem;
    max-height: 35vw;
    border-radius: 0 0 .5rem .5rem;
  }

}

/*----- Desktop-Version -----*/

@media (min-width:1440px) {
  
  body {
    background-color: #0b1b20;
  }
  
  .layout {
    max-width: 100%;
  }
  
}