* {
  margin: 0;
  padding: 0;
  font-family: "mulish", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: white;
}

.layout {
  max-width: 76.7rem;
}

/*----- Mobile-First -----*/

/*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #065e7c;
  padding: 1.2rem 2.8rem;
  gap: 2.5rem;
}

header form {
  flex: 1;
}

header form label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.20);
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: .4rem;
  outline: none;
  color: white;
}

header form input::placeholder {
  color: rgb(148, 148, 148);
}

header #avatar {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
}

/*Main*/

main .img-hero img {
  width: 100vw;
}

main .cat-information {
  padding: 3.1rem 0 68.8rem 2.2rem;
}

main .cat-title .icons {
  margin: .8rem 0 3.1rem 0;
}

main .icons img:nth-child(1) {
  margin-right: 1.2rem;
}

main .cat-title h1 {
  font-size: 2.4rem;
  line-height: 160%;
  font-weight: 700;
  color: #202024;
}

main section p {
  line-height: 160%;
  font-weight: 400;
  color: #121214;
  text-align: left;
}
/*Aside*/

aside {
  display: none;
}

/*Footer*/

footer {
  background-color: #387E96;
  padding: 1.6rem;
}

footer p {
  color: white;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/*----- Tablet-Version -----*/

@media (min-width:768px) {
  
  .layout {
    max-width:143.9rem;
  }

  main .cat-information {
    padding: 3.9rem 0 12rem 3.9rem;
  }

  main .cat-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
  }

  main .cat-title .icons {
    margin: 0;
  }

  main .cat-title h1 {
    font-size: 2.4rem;
  }

  main .img-hero img {
    min-height: 40.5rem;
    max-height: 35vw;
    border-radius: 0 0 .5rem .5rem;
  }

}

/*----- Desktop-Version -----*/

@media (min-width:1440px) {
  
  body {
    background-color: #F4FCFF;
  }
  
  .layout {
    max-width: 100vw;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 90.9rem;
    gap: 4.4rem 3.4rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  main .cat-information {
    padding: 3.1rem 0 0 11rem;
  }

  main .cat-title h1 {
    font-size: 2.4rem;
  }

  main .img-hero img {
    max-width: 80rem;
    max-height: 40.5rem;
    border-radius: .5rem;
    margin-left: 10.9rem;
  }

  aside {
    display: initial;
    grid-area: aside;
    width: 38.4rem;
    height: 61.5rem;
  }

  aside .catlist {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  aside .asidelayout h1 {
    color: #202024;
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
  }

  aside .asidelayout .catdescription h2 {
    color: #202024;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%;
  }

  aside .asidelayout .catdescription p {
    color: #202024;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
  }

  aside .catwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }

  aside .catlist img {
    width: 15.1rem;
    height: 8.4rem;
    border-radius: .5rem;
  }

  aside .catdescription {
    width: 21.7rem;
    height: auto;
  }

  footer {
    grid-area: footer;
  }

}